.wrapper {
  margin-top: 100px;
}

.grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.productsList {
  margin-bottom: 10px;
  height: 630px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.title {
  color: #854ea2;
}

.prices {
  font-weight: bold;
  font-size: 1.2em;
}

.button {
  padding: 10px;
  width: 150px;
  border: 1px solid white;
  background-color: #854ea2;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
  background-color: #bb6fe3;
}

@media all and (max-width: 1025px) {
  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .productsList {
    height: 630px;
    width: 98%;
  }
}

@media all and (max-width: 480px) {
  .grid {
    display: flex;
    flex-direction: column;
  }

  .productsList {
    height: 700px;
    width: 90%;
  }
}
